<form>
    <table>
        <tr>
            <td><lable>Full name:</lable></td>
            <td><input type="text" name="fname" placeholder="Gohn Doe" required autofocus></td>
        </tr>
        <tr>
            <td> Gender: </td>
            <td><input type="radio" name="gender" value="male">
                <label for="mgender">Male</label>
                <input type="radio" name="gender" value="female">
                <label for="fgender">Female</label>
            </td>
        </tr>
        <tr>
            <td>Date of birth: </td>
            <td><input type="date" required></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" placeholder="email@example.com" required></td>
        </tr>
        <tr>
            <td>Telephone: </td>
            <td><input type="tel" pattern="[0-9]{10}" placeholder="0991234578"
                    title="Phone number must contain 10 digits">
            </td>
        </tr>
        <tr>
            <td>Preferable background color:</td>
            <td>
                <select name="prefbg">
                    <option>White</option>
                    <option>Light green</option>
                    <option>Dark</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>City:</td>
            <td>
                <select name="city">
                    <option>Kyiv</option>
                    <option>Odesa</option>
                    <option>Kharkiv</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>
                <textarea rows="2" cols="15">
Add your comment
            </textarea>
            </td>
            <td></td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>