<table>
    <thead>
        <tr>
            <th>Age</th>
            <th>Gender</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>34</td>
            <td>Male</td>
            <td>Ukraine</td>
        </tr>
    </tbody>
</table>