<div>
    <table>
        <tr>
            <td>
                <picture>
                    <img src="#" alt="Profile photo">
                </picture>
            </td>
        </tr>
        <tr>
            <td>
                <label>Full name</label>
            </td>
        </tr>
        <tr>
            <td>
                <a href="teacher_full_card.html">more</a>
            </td>
        </tr>
    </table>
</div>