<div>
    <table>
        <tr>
            <td>
                <label>Full name:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Gender:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Age:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Email:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Telephone:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Country:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>City:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Comment:</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Card:</label>
            </td>
        </tr>
    </table>
</div>